/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/*@font-face{
  font-family: 'Jim Nightshade', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');
}*/

html {
  font-family:'Apple Chancery, cursive';
  box-sizing: border-box;
}

h1 {
  font-size: 300%;
  text-align:center;
}

h2 {
  font-size: 200%;
  text-align: center;
}

h3 {
  font-size: 150%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

h5 {
  font-size: 125%;
  text-align: center;
}

body {
  position: absolute;
  height:96%;
  width:96%;
  margin:0px;
  margin-top:10%;
  margin-left:2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("https://i.ytimg.com/vi/7JmhK6MHS40/maxresdefault.jpg");
}

main {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top:10%;
  padding:5%;
  width: 85%;
}

form {
  text-align: center;
  justify-content: left;
  font-size: 20px;
}

p {
  text-align: center;
  font-weight: 800;
  font-size: 25px;
}

footer {
  display: flex;
  justify-content: space-between;
}

.hidden{
  display: none;
}



