/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
html {
  box-sizing: border-box;
}

body {
  position: absolute;
  height:96%;
  width:96%;
  margin:0px;
  margin-top:2%;
  margin-left:2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
}

main {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding:5%;
  width: 85%;
}

ul{
  
}

footer {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.hidden{
  display: none;
}



